extends layout

block content
  header#myCarousel.carousel.slide
    .carousel-inner
      .item.active
        .fill(style="background-image:url('/images/sanfran.jpg');")
          .row
            .col-md-12
              .text
                h1.fonts  
                p Login to Find a Job
                form(method="link", action="/auth/google")
                  button.loginBtn.loginBtn--google Login with Google
