extends layout

block content
    .backs
      form(action='#', method='post', name='sign up for beta form')
        .input
          span.fa.fa-search
          input#email.button(type='text', name='email', placeholder='Search For A Job')
          input#submit.button(type='submit', value='SEARCH')
