extends layout

block content
  .back
    h1#title Find A Job in San Francisco
    input#search.button(type='text', name='search', placeholder='SEARCH FOR A JOB')
    include template.html
  .backs

    script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
